@using Perfume.Repositories.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Perfume.Constants
@using Perfume.Services.Interfaces

@model Model

@inject IPerfumeRepository PerfumeRepository
@inject IPerfumeCategoryRepository PerfumeCategoryRepository
@inject IShoppingCartPerfumeRepository ShoppingCartPerfumeRepository
@inject IWishRepository WishRepository
@inject IImageConvertorService ImageConvertorService
@inject IUserRepository UserRepository

@{
    var perfumes = await PerfumeRepository.GetPerfumesAsync();
    var perfumeCategories = await PerfumeCategoryRepository.GetPerfumeCategoriesAsync();
}
@* @model NavigationBarBrandsModel *@
<div class="main_header header-mobile-m">
    <div class="header_container sticky-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="logo">
                        <div class="logo-color">
                            <h3><a href="/">Aroma Boutique</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- main-menu starts -->
                    <div class="main_menu menu_two menu_position">
                        <nav>
                            <ul>
                                <li class="mega_items">
                                    <a href="/Perfume/Perfumes">Parfumuri <i class="fa fa-angle-down"></i></a>
                                    <div class="mega_menu">
                                        <ul class="mega_menu_inner">
                                            @foreach (var perfumeCategory in perfumeCategories)
                                            {
                                                var brands = perfumes.Where(p => p.PerfumeCategory.Name == perfumeCategory.Name).Select(p => p.Brand);
                                                <li>
                                                    <a href="#">Parfumuri pentru @perfumeCategory.Name</a>
                                                    <ul>
                                                        @foreach (var brand in brands)
                                                        {
                                                            <li><a asp-area="" asp-controller="Perfume" asp-action="Perfumes" class="text-black">@brand.Name</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- main menu ends -->
                </div>
                <div class="col-lg-4">
                    <div class="header_top_right">
                        <div class="header_right_info">
                            <ul>
                                <li class="search_box">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <div class="search_widget">
                                        <form asp-action="Perfumes" asp-controller="Perfume">
                                            <input name="searchString" class="form-control me-1" type="search" placeholder="Caută parfum">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var user = await UserRepository.GetUserAsync(User.Identity.Name);
                                    <li class="mini_cart_wrapper">
                                        <a href="javascript:void(0)">
                                            <a asp-area="" asp-controller="Wish" asp-action="Wish">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </a>
                                        <!-- mini cart  -->
                                        @{
                                            var wishes = await WishRepository.GetWishListByUserIdAsync(user.Id);
                                        }
                                        <div class="mini_cart mini_cart2">
                                            <div class="cart_gallery">
                                                @if (!wishes.Any())
                                                {
                                                    <b>Nu aveți încă produse preferate</b>
                                                }
                                                @foreach (var wish in wishes)
                                                {
                                                    var imgFormFile = await ImageConvertorService.ConvertByteArrayToFileFormAsync(new ImageDto()
                    {
                        FileName = wish.Perfume.FileName,
                        Image = wish.Perfume.ProfileImage,
                        ImageName = wish.Perfume.Name
                    });
                                                    var imgString = await ImageConvertorService.ConvertFormFileToImageAsync(imgFormFile);
                                                    <div class="cart_item">
                                                        <div class="cart_img">
                                                            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" asp-route-id="@wish.PerfumeId">
                                                                <img src="@imgString"
                                                                     alt="Parfum" style="height: 80px; width: 50px">
                                                            </a>
                                                        </div>
                                                        <div class="cart_info">
                                                            <a asp-area="" asp-controller="Brands" asp-action="Brand" asp-route-name="@wish.Perfume.Brand.Name" class="text-decoration-none text-black">
                                                                @wish.Perfume.Brand.Name
                                                            </a>
                                                            <br />
                                                            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" asp-route-id="@wish.PerfumeId" class="text-decoration-none text-black">
                                                                @wish.Perfume.Name
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="mini_cart_footer">
                                                <div class="cart_button">
                                                    <a asp-area="" asp-controller="Wish" asp-action="Wish">Vezi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- mini cart ends -->
                                    </li>
                                    <li class="mini_cart_wrapper">
                                        <a href="javascript:void(0)">
                                            <a asp-area="" asp-controller="Cart" asp-action="Cart">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </a>
                                        <!-- mini cart  -->
                                        @{
                                            var carts = await ShoppingCartPerfumeRepository.GetShoppingCartPerfumesByUserIdAsync(user.Id);
                                        }
                                        <div class="mini_cart mini_cart2">
                                            <div class="cart_gallery">
                                                @if (!carts.Any())
                                                {
                                                    <b>Nu aveți încă produse in cos</b>
                                                }
                                                @foreach (var cart in carts)
                                                {
                                                    var imgFormFile = await ImageConvertorService.ConvertByteArrayToFileFormAsync(new ImageDto()
                    {
                        FileName = cart.Perfume.FileName,
                        Image = cart.Perfume.ProfileImage,
                        ImageName = cart.Perfume.Name
                    });
                                                    var imgString = await ImageConvertorService.ConvertFormFileToImageAsync(imgFormFile);
                                                    <div class="cart_item">
                                                        <div class="cart_img">
                                                            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" asp-route-id="@cart.PerfumeId">
                                                                <img src="@imgString"
                                                                     alt="Parfum" style="height: 80px; width: 50px">
                                                            </a>
                                                        </div>
                                                        <div class="cart_info">
                                                            <a asp-area="" asp-controller="Brands" asp-action="Brand" asp-route-name="@cart.Perfume.Brand.Name" class="text-decoration-none text-black">
                                                                @cart.Perfume.Brand.Name
                                                            </a>
                                                            <h4><span>@(cart.Quantity * cart.Perfume.Price) @cart.Perfume.Currency</span><h5>X @cart.Quantity</h5></h4>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="mini_cart_table">
                                                @{
                                                    var subtotal = carts.Sum(c => c.Quantity * c.Perfume.Price);
                                                }
                                                <div class="cart_table_border">
                                                    <div class="cart_total">
                                                        <span>Sub Total :</span>
                                                        <span class="price">@subtotal @(carts.FirstOrDefault()?.Perfume.Currency ?? "RON")</span>
                                                    </div>

                                                    <div class="cart_total mt-10">
                                                        <span>Total :</span>
                                                        @if (subtotal > 0)
                                                        {
                                                            <span class="price">@(subtotal + 26 + 5 + 4) @(carts.FirstOrDefault()?.Perfume.Currency ?? "RON")</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@subtotal @(carts.FirstOrDefault()?.Perfume.Currency ?? "RON")</span>
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="mini_cart_footer">
                                                <div class="cart_button">
                                                    <a asp-area="" asp-controller="Cart" asp-action="Cart">Vezi coș</a>
                                                </div>
                                                <div class="cart_button">
                                                    @*todo: remove from cart after this!*@
                                                    <a onclick="alert('Comanda a fost înregistrată cu succes'), window.location.href = '/'">Comandă</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- mini cart ends -->
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="header_account">
                            <ul>
                                <li class="top_links">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <ul class="dropdown_links cart_button">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a asp-area="" asp-controller="Account" asp-action="Details">Contul meu</a></li>
                                            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Deconectare</a></li>
                                        }
                                        else
                                        {

                                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Conectare</a></li>
                                            <li><a asp-area="" asp-controller="Account" asp-action="Register">Inregistrare</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
