@model CartModel

@{
    var options = new List<SelectListItem>();
    for (var index = 1; index <= 10; index++)
    {
        var option = new SelectListItem(index.ToString(), index.ToString());
        options.Add(option);
    }
}
<div class="card border-0">
    <div class="card-body">
        <hr />
        <div class="d-flex flex-row justify-content-between align-items-center">
            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" class="d-flex flex-row align-items-center">
                <div class="container" style="height: 150px; width: 150px;">
                    <img src="@Url.Content(Model.ImageSource)" alt="Perfume Image"> </img>
                </div>
                <div class="gap-5" style="color: black;">
                    <h4>@Model.BrandTitle @Model.PerfumeTitle</h4>
                    <h5>@Model.Category</h5>
                </div>
            </a>
            <div class="d-flex flex-row gap-2 align-items-center">
                <span class="d-flex flex-row gap-2 p-2">
                    <h4><strong>@Model.Price</strong></h4>
                    <h4><strong>@Model.Currency</strong></h4>
                </span>
                <select asp-for="Quantity" asp-items="options"></select>
            </div>
            <div class="d-flex flex-row gap-5 align-items-center p-2">
                <strong>@(Model.Price * int.Parse(Model.Quantity)) @Model.Currency</strong>
                <a href="#" style="color: black;">Șterge</a>
            </div>
        </div>
      </div>
</div>