@model CartModel

<div class="card border-0">
    <div class="card-body">
        <hr />
        <div class="d-flex flex-row justify-content-between align-items-center">
            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" asp-route-id="@Model.Id.ToString()" class="d-flex flex-row align-items-center">
                <div class="container" style="height: 150px; width: 150px;">
                    <img src="@Url.Content(Model.ImageSource)" alt="Perfume Image" height="150px" width="150px"> </img>
                </div>
                <div class="gap-5" style="color: black;">
                    <h4>@Model.BrandTitle @Model.PerfumeTitle</h4>
                    <h5>@Model.Category</h5>
                </div>
            </a>
            <div class="d-flex flex-row gap-2 align-items-center">
                <span class="d-flex flex-row gap-2 p-2">
                    <h4><strong>@Model.Price</strong></h4>
                    <h4><strong>@Model.Currency</strong></h4>
                    <h5> <div class="font-accent">X @Model.Quantity</div></h5>
                </span>

            </div>
            <div class="d-flex flex-row gap-5 align-items-center p-2">
                <strong>@(Model.Price * Model.Quantity) @Model.Currency</strong>

                <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="hidden" name="change" value="-1" /> 
                    <button class="btn btn-outline-dark" style="color: red" type="submit" title="Scade cantitatea">
                        -
                    </button>
                </form>

                <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="hidden" name="change" value="1" /> 
                    <button class="btn btn-outline-dark" style="color: green" type="submit" title="Crește cantitatea">
                        +
                    </button>
                </form>

                @using (Html.BeginForm("DeleteCart", "Cart", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id)
                    <button class="btn btn-outline-dark" style="color: orangered" type="submit" title="Șterge">
                        Șterge
                    </button>
                }
            </div>
        </div>
    </div>
</div>
