@model WishModel

<div class="card border-0">
    <div class="card-body">
        <hr />
        <div class="d-flex flex-row justify-content-between align-items-center">
            <a asp-area="" asp-controller="Perfume" asp-action="Perfume" asp-route-id="@Model.Id.ToString()" class="d-flex flex-row align-items-center">
                <div class="container" style="height: 150px; width: 150px;">
                    <img src="@Url.Content(Model.ImageSource)" alt="Perfume Image"> </img>
                </div>
                <div class="gap-5" style="color: black;">
                    <h4>@Model.BrandTitle @Model.PerfumeTitle</h4>
                    <h5>@Model.Category</h5>
                </div>
            </a>
            <div class="d-flex flex-row gap-5 align-items-center p-2">
                <strong>@(Model.Price) @Model.Currency</strong>
                @using (Html.BeginForm("DeleteWish", "Wish", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)
                    <button style="color: black;" type="submit" title="Șterge">
                        Șterge
                    </button>
                }
            </div>
        </div>
      </div>
</div>